*{
    padding: 0;
    margin: 0;
    
    }
    header{
        background-color: black;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 24px 0;
    }
    .cabeçalho-imagem{
        width: 18%;
    
    }

    .escola{
        background-color: darkcyan;
        color: white;



    }
    